global:
  checkNewVersion: true
  sendAnonymousUsage: false

serversTransport:
  insecureSkipVerify: true

entryPoints:
  web:
    address: :80
    http:
      redirections:
        entryPoint:
          to: webHttps
          scheme: https
          permanent: false
    proxyProtocol:
      trustedIPs:
        - "172.18.0.1"

  webHttps:
    address: :443
    proxyProtocol:
      trustedIPs:
        - "172.18.0.1"

  metrics:
    address: :9104

providers:
  file:
    directory: /etc/traefik/providers/
    watch: true

api:
  dashboard: true

metrics:
  prometheus:
    addEntryPointsLabels: true
    addRoutersLabels: true
    addServicesLabels: true
    entryPoint: metrics

certificatesResolvers:
  letsEncrypt:
    # Enable ACME (Let's Encrypt): automatic SSL.
    acme:
{% if proxy_dev_mode is defined and proxy_dev_mode %}
        caServer: https://acme-staging-v02.api.letsencrypt.org/directory
{% endif %}
        email: {{ vault_cloudflare_email }}
        storage: /etc/traefik/data/acme.json
        dnsChallenge:
            provider: cloudflare
            delayBeforeCheck: 10
            resolvers:
            - "1.1.1.1:53"
            - "8.8.8.8:53"
log:
  level: warn
accessLog:
    filePath: /etc/traefik/data/accesslog.json
    format: json
