mode: "iptables"
pid_dir: "/var/run/"
update_frequency: "10s"
daemonize: true
log_mode: "file"
log_dir: "/var/log/"
log_level: "info"
api_url: "{{ crowdsec_bouncer_lapi_url | default('http://sec-01:8080/') }}"
api_key: "{{ vault_crowdsec_bouncer_key[inventory_hostname] }}"  # Add your API key generated with `cscli bouncers add <bouncer_name>`
disable_ipv6: false
deny_mode: "DROP"
deny_log: false
#deny_log_prefix: "crowdsec: "
#if present, insert rule in those chains
iptables_chains:
  - "INPUT"
  - "FORWARD"