{# SSHD #}
{% if crowdsec_agent_type is defined and "sshd" in crowdsec_agent_type %}
filenames:
  - /var/log/auth.log
labels:
  type: syslog
---
{% endif %}
{# Authentik #}
{% if crowdsec_agent_type is defined and "authentik" in crowdsec_agent_type %}
source: docker
container_name:
  - authentik-server
docker_host: unix://var/run/docker.sock
since: 30s
check_interval: 5s
labels:
  type: authentik
---
{% endif %}
{# Traefik #}
{% if crowdsec_agent_type is defined and "traefik" in crowdsec_agent_type %}
filenames:
  - /var/log/traefik/*.log
labels:
  type: traefik
{% endif%}