# Config for bootstrapping Nix VM
# Will be wiped out by the config flake

{ config, lib, pkgs, modulesPath, ... }:

{
  imports = [ 
    (modulesPath + "/virtualisation/proxmox-image.nix")
  ];

  config = {
    users = {
      mutableUsers = false;
      users.ansible = {
        isNormalUser = true;
        extraGroups = [ "wheel" ];
        hashedPassword = "";
      };
    };

    # Enable passwordless sudo.
    security.sudo.extraRules = [
      {
        users = [ "ansible" ];
        commands = [
          { 
            command = "ALL" ;
            options= [ "NOPASSWD" ];
          }
        ];
      }
    ];

  {% for userKeys in vault_pubkeys %}
    users.users.{{ userKeys.username }}.openssh.authorizedKeys.keys = [
    {% for key in userKeys.pubkeys %}
      "{{ key }}"
    {% endfor %}
    ];
  {% endfor %}  


    # Setup cloud init
    services.cloud-init.network.enable = true;
    proxmox.cloudInit.enable = true;

    # Make it actually accessible
    services.getty.autologinUser = "root";
    services.openssh.enable = true;
  };
}